<div class="main-container" style="background:<%=@color%>">
  <span class="title">
    <p>
      <i class="icon-<%=@icon%>"></i> Pjsk
    </p>
  </span>
  <p class="contact-icons">
    <a class="contact-link" href="http://twitter.com/peterjskennedy" target="_blank"><i class="icon-twitter-sign"></i></a>
    <a class="contact-link" href="http://www.linkedin.com/pub/peter-kennedy/46/880/943" target="_blank"><i class="icon-linkedin-sign"></i></a>
    <a class="contact-link" href="http://github.com/pjskennedy" target="_blank"><i class="icon-github-sign"></i></a>
  </p>
  <p>
    <b><%=@title%></b> <%=@activity%> in Toronto
  </p>
</div>