<div class="post-container">
  <div class="post">
    <div class="post-header">
      <div class="icon-column">
        <i class="fa fa-play"></i>
      </div>
      <div class="title-column">
        <h1 class="post-title">
          <b>WHAT HAPPENS IF THE TITLE IS SUPER SUPER LONG</b>
        </h1>
        <small class="post-location">
          <a href="http://maps.google.com/?q=-15.623037,18.388672" target="_blank">
            <i class="fa fa-map-marker"></i> &nbsp; 
            43.7000° N, 79.4000° W
          </a>
        </small>
      </div>
    </div>
    <div class="post-body-text">
      <%=@text%>
    </div>
  </div>
</div>


