<div class="resume-background">
  <div class="main-resume">
    <div class="header">
      <div class="row">
        <div class="span5">
          <div class="name">
            Peter Kennedy
          </div>
        </div>
        <div class="span4 contact-info">
          <div class="row">
            <div class="span3">
              <div class="contact-item">89 Chestnut St Toronto ON</div>
            </div>
            <div class="span1">
              <img class="icn" src="assets/glyph/glyphicons_020_home.png" alt="some_text">
            </div>
          </div>
          <div class="row">
            <div class="span3">
              <div class="contact-item">(416) 889 6969</div>
            </div>
            <div class="span1">
              <img class="icn" src="assets/glyph/glyphicons_169_phone.png" alt="some_text">
            </div>
          </div>
          <div class="row">
            <div class="span3">
              <div class="contact-item">peterjskennedy@gmail.com</div>
            </div>
            <div class="span1">
              <img class="icn" src="assets/glyph/glyphicons_120_message_full.png" alt="some_text">
            </div>
          </div>
          <div class="row">
            <div class="span3">
              <div class="contact-item">www.peterjskennedy.com</div>
            </div>
            <div class="span1">
              <img class="icn" src="assets/glyph/glyphicons_086_display.png" alt="some_text">
            </div>
          </div>
          <div class="row">
            <div class="span3">
              <div class="contact-item">github.com/pjskennedy</div>
            </div>
            <div class="span1">
              <img class="icn" src="assets/glyph/glyphicons_401_github.png" alt="some_text">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="main-body">
      <div class="main-body-section">
        <div class="section-title">
          Technical Skills
        </div>
        
        <div class="text-body">
          Extensive experience in <b>Ruby</b>, <b>Python</b>, and <b>C</b> languages &bull;
          Experience working with <b>databases</b> &bull;
          Experience with <b>Linux Kernel</b> and general <b>Operating Systems</b> development &bull;
          Experience in front-end development (<b>coffeescript</b>, <b>css</b>, <b>html</b> etc.) &bull;
          Developed <b>iOS</b> applications &bull;
          Experience in low-level development using <b>Verilog</b> and <b>Assembly</b> &bull;
          Scientific computing using <b>MATLAB</b> and <b>R</b> languages &bull;
          Experience on <b>Linux</b>, <b>Apple</b>, and <b>Windows</b> machines &bull;
          Experience with version control such as <b>SVN</b> or <b>git</b> <br/>
          <div style="float:right;"><i>Used to fast-paced environments, and will learn quickly</i></div><br/>
        </div>
      </div>
      <div class="main-body-section">
        <div class="section-title">
          Experience
        </div>
        
        <div class="text-body">
          <div class="row section-subtitle">
            <div class="span6">
              <div class="left-icon"></div>
              Agile Software Engineer - <i style="font-size:16px;">Venio Inc</i>
            </div>
            <div style="float:right;">
              <i>2012</i>
            </div>
          </div>
          Worked on the <b>main development team</b> with several engineers &bull; 
          Built the <b>website</b> and <b>iOS applications</b> &bull; 
          Created the <b>database structure</b>, as well as the <b>algorithms</b> required for the product &bull; 
          Also worked on <b>front-end</b> team to build a <b>dynamic</b> and <b>aesthetic</b> interface &bull; 
          Constructed the <b>API</b> for customized external use &bull; 
          Worked partially in <b>business development</b>; <b>pitching</b> the company to advisors and potential investors<br/>
        </div>
      </div>

      <div class="main-body-section">
        <div class="section-title">
          Projects
        </div>
        
        <div class="text-body">
          Personal web application (www.peterjskennedy.com) &bull;
          Developer for <b>Current Sessions Productions</b> (www.currentsessions.com) &bull;
          <b>UofT Engineering Frosh 1T2 website</b> (leedurs.heroku.com) &bull;
          <b>Python program</b> to turn ROSI student course schedules into .ics calendar files &bull;
          Developer for <b>CitoPrint</b> (www.citoprint.org); Real time UofT workstation and printer availability
        </div>
      </div>

      <div class="main-body-section">
        <div class="section-title">
          Education
        </div>
        
        <div class="text-body">
          <div class="row section-subtitle">
            <div class="span6">
              <div class="left-icon"></div>
              University of Toronto - <i style="font-size:16px;">Engineering Science</i><br/>
              <i style="font-size:16px;">Electrical and Computer Engineering</i>
            </div>
            <div style="float:right;">
              <i>Class of 2014</i>
            </div>
          </div>
          Expected Graduation Date: <b>April 2014</b> &bull; Main area of study is <b>software engineering</b> and <b>engineering design</b> &bull; Extensive background in <b>advanced mathematics</b> &bull; Skilled in all forms of <b>physical</b> and <b>theoretical physics</b>, <b>statistics</b>, and many other fields <br/>
        </div>
      </div>

      <div class="main-body-section">
        <div class="section-title">
          Extra Curricular
        </div>
        
        <div class="text-body">
          UofT <b>Galbraith Society</b> member &bull; UofT <b>Engineering Frosh Leader</b> 2011, 2012. &bull; <b>Hacker Academy</b> member &bull; Nationally Ranked <b>Competitive Swimmer</b> &bull; Long career of <b>lifeguarding</b>, <b>coaching</b>, and <b>instructing swimming</b> with Pikes Swim Club and Kisu Swim Club
        </div>
      </div>

      <div class="main-body-section">
        <div class="section-title">
          References
        </div>
        
        <div class="text-body">
          References are available by request.<br/>
        </div>
      </div>
    </div>
  </div>
</div>