<div class="jumbotron" style="background-color:transparent;">
  <h1>Admin</h1>
  <p>Welcome to command center</p>
  <p>
    <%= link_to "Posts", admins_posts_path, :role => "button", :class => "btn btn-primary btn-lg" %>
    <%= link_to "Admins", admins_admins_path, :role => "button", :class => "btn btn-success btn-lg" %>
  </p>
</div>