.engineering-heading {
  width: 100%;
  text-align: center;
  font-family:"ProximaNovaLtRegular";
  text-shadow: 1px 2px 30px #000000;
  filter: dropshadow(color=#000000, offx=1, offy=2);
  color: black;
  margin-left: -10px;
  line-height:150% ;
  font-size: 23px;
}

p {
  font-family:"ProximaNovaLtRegular";
  text-shadow: 1px 2px 30px #000000;
  filter: dropshadow(color=#000000, offx=1, offy=2);
  color: black;
  line-height:150% ;
  font-size: 23px;
}


.engineering-skills {
  font-family: "ProximaNovaLtRegular";
  text-align: center;
  text-shadow: 1px 2px 30px #000000;
  filter: dropshadow(color=#000000, offx=1, offy=2);
  color: black;
  line-height:120%;
  font-size: 18px;
  .engineering-skills-heading {
    font-family: "ProximaNovaBLRegular";
    margin-bottom:20px;
    font-size: 30px;
  }
  .engineering-skills-university {
    font-family: "ProximaNovaLtItalic";
    margin-bottom:20px;
    font-size: 25px;

  }
  .engineering-skills-skills {

  }
}

.info-main {

  height: 250px;
  width: 100%;

  .image {
    width: 200px;
    height: 200px;
    -webkit-box-shadow: inset 0px 0px 10px 5px rgba(0, 0, 0, .6);
    box-shadow: inset 0px 0px 10px 5px rgba(0, 0, 0, .6);
    -webkit-border-radius: 30px;
    border-radius: 30px;
    background-color:white;
    background-repeat: no-repeat;
    float: left;
  }

  #venio-image {
    background-image: url('../assets/venio.png');
    background-size: 200px 170px;  
    background-position: 5px 15px;

  }

  #current-sessions-image {
    background-image: url('../assets/current-sessions-productions-logo.png');
    background-size: 170px 120px;
    background-position: 15px 35px;
  }

  #info-text {
    width: 75%;
    height: 200px;
    padding-left: 30px;
    padding-right: 15px;
    float:left;
  }
}
.button-container {
  width: 100%;
  text-align: center;
  .button {
    width: 200px;
    margin-left: auto;
    margin-right:auto;
    text-align:center;
  }
}

.read-more-venio-body {
}

.hidden {
  display:none;
}

.text-selected {
  font-family: "ProximaNovaBlRegular";
}

.photo-container {
  width: 335px;
  float:left;
}
