
// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use#D4D9DC Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #D4D9DC;
  background-repeat:repeat;
  top:0px;
  bottom:0px;
}
