.not-found {
  filter: dropshadow(color=#000000, offx=1, offy=2);
  height: 300px;
  width: 660px;
  margin-left: auto;
  margin-right: auto;
  p {
    font-family:"ProximaNovaLtRegular";
    text-align: center;
    line-height:150% ;
    font-size: 23px;
    color: black;
    text-shadow: 1px 2px 30px #000000;
  }
}

.error-heading {
  font-family:"ProximaNovaBlRegular";
  text-align: center;
  line-height:150% ;
  font-size: 40px;
  color: black;
  text-shadow: 1px 2px 30px #000000;
}