.tweet {
  width: 280px;
  margin-top: 10px;
  margin-left: 15px;
  margin-right: 15px;
}

.tweet-header {
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 30px;
}

.twitter-date {
  padding:10px;
  font-style:italic;
  font-size: 16px;
  float:left;
}

.twitter-image {
  padding: 5px;
  float:left;
}

.twitter-text {
  color:white;
  text-align:center;
  background-image: url("../assets/low_contrast_linen.png");
  font-family: 'ProximaNovaLtRegular';
  font-size: 17px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: inset 0px 0px 10px 1px rgba(0, 0, 0, .5);
  box-shadow: inset 0px 0px 10px 1px rgba(0, 0, 0, .5);
  padding:12px;
  font-size: 18px;
}