<div class="navigation">
  <div class="nav-heading" page="about">
    <div class="nav-text">
      About
    </div>
<!--     <img class="hidden icon" src="assets/glyphicons/png/glyphicons_003_user.png"/>
 -->  </div>
  <div class="nav-heading" page="engineering">
    <div class="nav-text">
      Engineering
    </div>
<!--     <img class="hidden icon" src="assets/glyphicons/png/glyphicons_023_cogwheels.png"/>
 -->  </div>       
  <div class="nav-heading" page="contact">
    <div class="nav-text">
      Contact
    </div>
<!--     <img class="hidden icon" src="assets/glyphicons/png/glyphicons_010_envelope.png"/>
 -->  </div>       
  <div class="nav-heading" page="site">
    <div class="nav-text">
      This site
    </div>
<!--     <img class="hidden icon" src="assets/glyphicons/png/glyphicons_027_search.png"/>
 -->  </div>        
</div>

<div class="main-body">
  <img src="assets/peter_grey.png"/>
</div>